# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/
.env

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/secrets.toml

# OS specific
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Output files
*.docx
*.pdf
temp/